#  Example Qudi configuration file.
#
#
#
# IMPORTANT: The format of every 'module.Class' line has changed on 28.6.2015.
# =========  The class name now needs to be explicitly given here in the config.
#		  the config line must the form package.module.Class.ClassName
global:
    # list of modules to load when starting
    startup: ['man', 'tray']

    module_server:
        address: 'localhost'
        port: 12345

    ## For controlling the appearance of the GUI:
    stylesheet: 'qdark.qss'

hardware:
    arduino_uno:
        module.Class: 'arduino.arduino_uno.ArduinoUno'
        arduino_port: 'COM11'

        Name of valve:
        valve_odor_1_in: '3'
        valve_odor_2_in: '12'
        valve_odor_3_in: '11'
        valve_odor_4_in: '10'
        final_valve: '8'
        mixing_valve: '9'
        valve_odor_1_out: '7'
        valve_odor_2_out: '6'
        valve_odor_3_out: '5'
        valve_odor_4_out: '4'

    MFC:
        module.Class: 'MFC.MFC.MFC'
        MFC_port: 'COM12'

        Name of MFS:
        MFC_1: 0
        MFC_2: 1
        MFC_purge: 2

        #Flow through each MFCs in sl/min (sL: standard liter):
        MFC_purge_flow : 5
        #Air through odor pipe
        MFC_1_flow: 0.04
        #Air after odor pipe
        MFC_2_flow: 3

    Motor:
        module.Class: 'optogenetic.motor.MotorControl'

logic:
    odor_circuit_arduino_logic:
        module.Class: 'fly_arena.odor_circuit_arduino_logic.OdorCircuitArduinoLogic'
        connect:
            arduino_uno: 'arduino_uno'
            MFC: 'MFC'

    optogenetic_logic:
        module.Class: 'fly_arena.optogenetic_logic.OptogeneticLogic'

gui:
    tray:
        module.Class: 'trayicon.TrayIcon'

    man:
        module.Class: 'manager.managergui.ManagerGui'

    Fly Arena Arduino:
        module.Class: 'Fly_Arena_GUIs.odor_circuit.odor_circuit_arduino_gui.OdorCircuitGUI'
        connect:
            odor_circuit_arduino_logic: 'odor_circuit_arduino_logic'
        #path to save:
        Path_MFC1 : 'C:/Users/sCMOS-1/qudi_files/FLOW/MFC1'
        Path_MFC2 : 'C:/Users/sCMOS-1/qudi_files/FLOW/MFC2'
        Path_MFCPurge : 'C:/Users/sCMOS-1/qudi_files/FLOW/MFCPurge'
        Fluidics_off_path : 'C:/Users/sCMOS-1/qudi-cbs/gui/Fly_Arena_GUIs/odor_circuit/image/Schema_fluidic_odors_off.PNG'
        Fluidics_on_path : 'C:/Users/sCMOS-1/qudi-cbs/gui/Fly_Arena_GUIs/odor_circuit/image/Schema_fluidic_odors_on.PNG'

    Optogenetic:
        module.Class: 'Fly_Arena_GUIs.optogenetic.optogenetic_gui.OptogeneticGUI'
        connect:
            optogenetic_logic: 'optogenetic_logic'

        noir_path : 'C:/Users/sCMOS-1/qudi_files/Image_opto_flyarena/Black.PNG'
        quart1_path : 'C:/Users/sCMOS-1/qudi_files/Image_opto_flyarena/quart_bas_droit.PNG'
        quart2_path : 'C:/Users/sCMOS-1/qudi_files/Image_opto_flyarena/quart_haut_gauche.PNG'

    Taskrunner:
        module.Class: 'taskrunner.taskgui.TaskGui'
        connect:
            tasklogic: 'tasklogic'


